body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: yellow;
}

h2 {
    margin-top: 20px;
    color: #333;
}

ul {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 10px;
    margin-top: 10px;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}